<!-- templates/contact.html -->
{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Developer Contact</h4>
            </div>
            <div class="card-body">
                <p><b>Name:</b> Vaishnavi Bhusa</p>
                <p><b>Email:</b>VHSH0607@gmail.com</p>
                <p><b>Phone:</b> +91-9876543210</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}